# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.env
*.egg-info/
dist/
build/
.pytest_cache/

# Node
node_modules/
.env
.env.local
dist/
.cache/

# MongoDB
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
